In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.041015  0.156557  0.969964  0.036820
2013-01-02  1.472223  0.139605  0.733998  1.532968
2013-01-03  0.816822 -1.340959  0.892377 -0.664054
2013-01-04  1.009740  0.262616  0.149544 -0.227399
2013-01-05  0.896417  0.346083  1.507956 -0.530784
2013-01-06  0.337241 -0.650551 -0.896497  0.021562

In [6]:
df2 = pd.DataFrame({ 'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [7]:
print(df2.dtypes)
print(df2.index)
print(df2.columns)
print(df2.columns[0])
print(df2.E)
print(df.values)

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object
Int64Index([0, 1, 2, 3], dtype='int64')
Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')
A
0     test
1    train
2     test
3    train
Name: E, dtype: category
Categories (2, object): [test, train]
[[ 0.04101533  0.15655668  0.96996434  0.03681961]
 [ 1.47222258  0.13960484  0.73399754  1.53296803]
 [ 0.81682249 -1.34095948  0.89237691 -0.66405415]
 [ 1.00974039  0.2626156   0.14954379 -0.22739911]
 [ 0.89641671  0.34608306  1.50795632 -0.53078417]
 [ 0.33724103 -0.65055084 -0.89649744  0.02156242]]

In [9]:
#df_group=df_group.rename(columns = {'rank':'rank_avg'})

In [18]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [21]:
#transform
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.872247   -0.200392    0.942549    0.791140    0.416943    0.807785
B    0.049009   -1.160701   -1.320465   -0.883601   -0.290367   -1.239502
C   -1.153277   -1.577543    0.880961    0.062490   -0.571406   -0.037107
D   -1.079562    0.815051   -0.009976    1.935941    0.653325    0.052718

In [20]:
df.sort_index()

                   A         B         C         D
2013-01-01 -0.872247  0.049009 -1.153277 -1.079562
2013-01-02 -0.200392 -1.160701 -1.577543  0.815051
2013-01-03  0.942549 -1.320465  0.880961 -0.009976
2013-01-04  0.791140 -0.883601  0.062490  1.935941
2013-01-05  0.416943 -0.290367 -0.571406  0.653325
2013-01-06  0.807785 -1.239502 -0.037107  0.052718

In [22]:
df.sort_values(by='B',ascending=False)

                   A         B         C         D
2013-01-01 -0.872247  0.049009 -1.153277 -1.079562
2013-01-05  0.416943 -0.290367 -0.571406  0.653325
2013-01-04  0.791140 -0.883601  0.062490  1.935941
2013-01-02 -0.200392 -1.160701 -1.577543  0.815051
2013-01-06  0.807785 -1.239502 -0.037107  0.052718
2013-01-03  0.942549 -1.320465  0.880961 -0.009976

In [23]:
df.loc[dates[0]]

A   -0.872247
B    0.049009
C   -1.153277
D   -1.079562
Name: 2013-01-01 00:00:00, dtype: float64

In [24]:
df.loc[:,['B','C']]

                   B         C
2013-01-01  0.049009 -1.153277
2013-01-02 -1.160701 -1.577543
2013-01-03 -1.320465  0.880961
2013-01-04 -0.883601  0.062490
2013-01-05 -0.290367 -0.571406
2013-01-06 -1.239502 -0.037107

In [25]:
df.at[dates[0],'A']

-0.87224717284710673

In [26]:
df.iloc[3]

A    0.791140
B   -0.883601
C    0.062490
D    1.935941
Name: 2013-01-04 00:00:00, dtype: float64

In [27]:
df[df['A']>0]

                   A         B         C         D
2013-01-03  0.942549 -1.320465  0.880961 -0.009976
2013-01-04  0.791140 -0.883601  0.062490  1.935941
2013-01-05  0.416943 -0.290367 -0.571406  0.653325
2013-01-06  0.807785 -1.239502 -0.037107  0.052718

In [28]:
df[df>0]

                   A         B         C         D
2013-01-01       NaN  0.049009       NaN       NaN
2013-01-02       NaN       NaN       NaN  0.815051
2013-01-03  0.942549       NaN  0.880961       NaN
2013-01-04  0.791140       NaN  0.062490  1.935941
2013-01-05  0.416943       NaN       NaN  0.653325
2013-01-06  0.807785       NaN       NaN  0.052718

In [32]:
df[df['A'].isin([0.123])]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [33]:
df1=df.copy()

In [35]:
pd.isna(df1)

                A      B      C      D
2013-01-01  False  False  False  False
2013-01-02  False  False  False  False
2013-01-03  False  False  False  False
2013-01-04  False  False  False  False
2013-01-05  False  False  False  False
2013-01-06  False  False  False  False

In [ ]:
df2=df.copy()

df2.head()

pd.isna(df)

In [12]:
#read_csv('file.csv' [, index_col='col'|0] [, parse_dates=True] [, usecols=['cols']] [, na_values=['nan']])
#df = pd.read_csv(url) read csv from url
df = pd.read_csv("./loan_train.csv")
dateparse = lambda dates: pd.datetime.strptime(dates, '%Y-%m')
#data = pd.read_csv('AirPassengers.csv', parse_dates='Month', index_col='Month',date_parser=dateparse)
df.head(3)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y

### time series

In [13]:
dateparse = lambda dates: pd.datetime.strptime(dates, '%Y-%m')
data = pd.read_csv('https://www.analyticsvidhya.com/wp-content/uploads/2016/02/AirPassengers.csv', parse_dates=['Month'], index_col='Month',date_parser=dateparse)

In [14]:
data.head()

            #Passengers
Month
1949-01-01          112
1949-02-01          118
1949-03-01          132
1949-04-01          129
1949-05-01          121

In [17]:
ts = data['#Passengers']

In [25]:
print(ts['1949-01-01'])
from datetime import datetime
print(ts[datetime(1949,1,1)])

112
112

In [30]:
#1. Specify the entire range:
print(ts['1949-01-01':'1949-05-01'])
#2. Use ':' if one of the indices is at ends:
print(ts[:'1949-05-01'])
ts['1949']

Month
1949-01-01    112
1949-02-01    118
1949-03-01    132
1949-04-01    129
1949-05-01    121
Name: #Passengers, dtype: int64
Month
1949-01-01    112
1949-02-01    118
1949-03-01    132
1949-04-01    129
1949-05-01    121
Name: #Passengers, dtype: int64

Month
1949-01-01    112
1949-02-01    118
1949-03-01    132
1949-04-01    129
1949-05-01    121
1949-06-01    135
1949-07-01    148
1949-08-01    148
1949-09-01    136
1949-10-01    119
1949-11-01    104
1949-12-01    118
Name: #Passengers, dtype: int64

In [4]:
# Load 网盟 sheet of excel file wangmeng.xlsx
df_xlsx=pd.read_excel("./wangmeng.xlsx", "网盟")

In [5]:
# Load Data from text file having tab ‘\t’ delimeter print df
df_txt=pd.read_csv(“E:/Test.txt”,sep=’\t’)

   4238     卿橙
0  4235     隐逸
1  4221   掌众传媒
2  4217  盟聚DSP
3  4215     众盟
4  4210  百度信息流

In [ ]:
#save to csv
#df_txt.to_csv("my_solution_one.csv", index_label = ["PassengerId"])

In [10]:
df1=df.pivot(index= 'Loan_ID', columns='Education', values='ApplicantIncome')
df1.head()

Education  Graduate  Not Graduate
Loan_ID
LP001002     5849.0           NaN
LP001003     4583.0           NaN
LP001005     3000.0           NaN
LP001006        NaN        2583.0
LP001008     6000.0           NaN

In [14]:
df.sort_values(['Property_Area','ApplicantIncome'], ascending=[True, False])

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
409,LP002317,Male,Yes,3+,Graduate,No,81000,0.000000,360.0,360.0,0.0,Rural,N
126,LP001448,NaN,Yes,3+,Graduate,No,23803,0.000000,370.0,360.0,1.0,Rural,Y
284,LP001922,Male,Yes,0,Graduate,No,20667,0.000000,NaN,360.0,1.0,Rural,N
308,LP001996,Male,No,0,Graduate,No,20233,0.000000,480.0,360.0,1.0,Rural,N
369,LP002191,Male,Yes,0,Graduate,No,19730,5266.000000,570.0,360.0,1.0,Rural,N
525,LP002699,Male,Yes,2,Graduate,Yes,17500,0.000000,400.0,360.0,1.0,Rural,Y
475,LP002527,Male,Yes,2,Graduate,Yes,16525,1014.000000,150.0,360.0,1.0,Rural,Y
324,LP002065,Male,Yes,3+,Graduate,No,15000,0.000000,300.0,360.0,1.0,Rural,Y
258,LP001859,Male,Yes,0,Graduate,No,14683,2100.000000,304.0,360.0,1.0,Rural,N
115,LP001401,Male,Yes,1,Graduate,No,14583,0.000000,185.0,180.0,1.0,Rural,Y
34,LP001100,Male,No,3+,Graduate,No,12500,3000.000000,320.0,360.0,1.0,Rural,N
148,LP001519,Female,No,0,Graduate,No,10000,1666.000000,225.0,360.0,1.0,Rural,N
319,LP002050,Male,Yes,1,Graduate,Yes,10000,0.000000,155.0,360.0,1.0,Rural,N
598,LP002945,Male,Yes,0,Graduate,Yes,9963,0.000000,180.0,360.0,1.0,Rural,Y
289,LP001935,Male,No,0,Graduate,No,9508,0.000000,187.0,360.0,1.0,Rural,Y
391,LP002262,Male,Yes,3+,Graduate,No,9504,0.000000,275.0,360.0,1.0,Rural,Y
189,LP001647,Male,Yes,0,Graduate,No,9328,0.000000,188.0,180.0,1.0,Rural,Y
372,LP002201,Male,Yes,2,Graduate,Yes,9323,7873.000000,380.0,300.0,1.0,Rural,Y
390,LP002255,Male,No,3+,Graduate,No,9167,0.000000,185.0,360.0,1.0,Rural,Y
351,LP002140,Male,No,0,Graduate,No,8750,4167.000000,308.0,360.0,1.0,Rural,N
376,LP002219,Male,Yes,3+,Graduate,No,8750,4996.000000,130.0,360.0,1.0,Rural,Y
325,LP002067,Male,Yes,1,Graduate,Yes,8666,4983.000000,376.0,360.0,0.0,Rural,N
196,LP001666,Male,No,0,Graduate,No,8333,3750.000000,187.0,360.0,1.0,Rural,Y
356,LP002149,Male,Yes,2,Graduate,No,8333,3167.000000,165.0,360.0,1.0,Rural,Y
523,LP002693,Male,Yes,2,Graduate,Yes,7948,7166.000000,480.0,360.0,1.0,Rural,Y
441,LP002409,Male,Yes,0,Graduate,No,7901,1833.000000,180.0,360.0,1.0,Rural,Y
309,LP001998,Male,Yes,2,Not Graduate,No,7667,0.000000,185.0,360.0,NaN,Rural,Y
404,LP002301,Female,No,0,Graduate,Yes,7441,0.000000,194.0,360.0,1.0,Rural,N
107,LP001370,Male,No,0,Not Graduate,NaN,7333,0.000000,120.0,360.0,1.0,Rural,N
444,LP002424,Male,Yes,0,Graduate,No,7333,8333.000000,175.0,300.0,NaN,Rural,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
282,LP001915,Male,Yes,2,Graduate,No,2301,985.799988,78.0,180.0,1.0,Urban,Y
586,LP002916,Male,Yes,0,Graduate,No,2297,1522.000000,104.0,360.0,1.0,Urban,Y
35,LP001106,Male,Yes,0,Graduate,No,2275,2067.000000,NaN,360.0,1.0,Urban,Y
543,LP002755,Male,Yes,1,Not Graduate,No,2239,2524.000000,128.0,360.0,1.0,Urban,Y
220,LP001736,Male,Yes,0,Graduate,No,2221,0.000000,60.0,360.0,0.0,Urban,N
117,LP001405,Male,Yes,1,Graduate,No,2214,1398.000000,85.0,360.0,NaN,Urban,Y
437,LP002401,Male,Yes,0,Graduate,No,2213,1125.000000,NaN,360.0,1.0,Urban,Y
406,LP002308,Male,Yes,0,Not Graduate,No,2167,2400.000000,115.0,360.0,1.0,Urban,Y
317,LP002036,Male,Yes,0,Graduate,No,2058,2134.000000,88.0,360.0,NaN,Urban,Y
131,LP001473,Male,No,0,Graduate,No,2014,1929.000000,74.0,360.0,1.0,Urban,Y
299,LP001963,Male,Yes,1,Graduate,No,2014,2925.000000,113.0,360.0,1.0,Urban,N
305,LP001990,Male,No,0,Not Graduate,No,2000,0.000000,NaN,360.0,1.0,Urban,N
451,LP002447,Male,Yes,2,Not Graduate,No,1958,1456.000000,60.0,300.0,NaN,Urban,Y
197,LP001669,Female,No,0,Not Graduate,No,1907,2365.000000,120.0,NaN,1.0,Urban,Y
581,LP002893,Male,No,0,Graduate,No,1836,33837.000000,90.0,360.0,1.0,Urban,N
338,LP002113,Female,No,3+,Not Graduate,No,1830,0.000000,NaN,360.0,0.0,Urban,N
36,LP001109,Male,Yes,0,Graduate,No,1828,1330.000000,100.0,NaN,0.0,Urban,N
422,LP002361,Male,Yes,0,Graduate,No,1820,1719.000000,100.0,360.0,1.0,Urban,Y
283,LP001917,Female,No,0,Graduate,No,1811,1666.000000,54.0,360.0,1.0,Urban,Y
249,LP001825,Male,Yes,0,Graduate,No,1809,1868.000000,90.0,360.0,1.0,Urban,Y
41,LP001120,Male,No,0,Graduate,No,1800,1213.000000,47.0,360.0,1.0,Urban,Y
300,LP001964,Male,Yes,0,Not Graduate,No,1800,2934.000000,93.0,360.0,0.0,Urban,N
303,LP001977,Male,Yes,1,Graduate,No,1625,1803.000000,96.0,360.0,1.0,Urban,Y
417,LP002342,Male,Yes,2,Graduate,Yes,1600,20000.000000,239.0,360.0,1.0,Urban,N
147,LP001518,Male,Yes,1,Graduate,No,1538,1425.000000,30.0,360.0,1.0,Urban,Y
28,LP001086,Male,No,0,Not Graduate,No,1442,0.000000,35.0,360.0,1.0,Urban,N
82,LP001267,Female,Yes,2,Graduate,No,1378,1881.000000,167.0,360.0,1.0,Urban,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.000000,17.0,120.0,1.0,Urban,Y
77,LP001259,Male,Yes,1,Graduate,Yes,1000,3022.000000,110.0,360.0,1.0,Urban,N
600,LP002949,Female,No,3+,Graduate,NaN,416,41667.000000,350.0,180.0,NaN,Urban,N

In [15]:
df.sort_index(ascending=False)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
606,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
605,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N
604,LP002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
603,LP002958,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y
602,LP002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
601,LP002950,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural,Y
600,LP002949,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
599,LP002948,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
598,LP002945,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
597,LP002943,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
596,LP002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
595,LP002940,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
594,LP002938,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y
593,LP002936,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y
592,LP002933,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban,Y
591,LP002931,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban,N
590,LP002928,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban,Y
589,LP002926,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N
588,LP002925,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
587,LP002917,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y
586,LP002916,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y
585,LP002912,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural,N
584,LP002911,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,LP001087,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
28,LP001086,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
27,LP001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
26,LP001068,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
25,LP001066,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
24,LP001052,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
23,LP001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
22,LP001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
21,LP001046,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
20,LP001043,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y

In [29]:
#df.groupby('col'|['cols'],as_index=False).mean()
group=df.groupby(['Gender','Education'])
group.describe()

                    ApplicantIncome                                            \
                              count         mean          std     min     25%
Gender Education
Female Graduate                92.0  4646.467391  3317.369895   416.0  2894.0
       Not Graduate            20.0  4629.700000  4732.008432   210.0  2102.5
Male   Graduate               376.0  5992.345745  6921.455587   150.0  3032.0
       Not Graduate           113.0  3630.061947  1411.070435  1442.0  2600.0

                                             CoapplicantIncome               \
                        50%     75%      max             count         mean
Gender Education
Female Graduate      3638.5  4622.5  19484.0              92.0  1231.206522
       Not Graduate  3208.5  4457.5  18165.0              20.0   541.300000
Male   Graduate      4166.0  6250.0  81000.0             376.0  1845.691277
       Not Graduate  3357.0  4288.0   7667.0             113.0  1401.008850

                     ...   LoanAmount        Loan_Amount_Term              \
                     ...          75%    max            count        mean
Gender Education     ...
Female Graduate      ...       138.75  600.0             91.0  350.769231
       Not Graduate  ...       128.50  225.0             18.0  360.000000
Male   Graduate      ...       184.50  650.0            369.0  343.317073
       Not Graduate  ...       134.00  279.0            109.0  327.302752


                           std    min    25%    50%    75%    max
Gender Education
Female Graduate      62.021336   36.0  360.0  360.0  360.0  480.0
       Not Graduate   0.000000  360.0  360.0  360.0  360.0  360.0
Male   Graduate      61.417404   12.0  360.0  360.0  360.0  480.0
       Not Graduate  82.621572   36.0  360.0  360.0  360.0  480.0

[4 rows x 40 columns]

In [30]:
group.size()

Gender  Education
Female  Graduate         92
        Not Graduate     20
Male    Graduate        376
        Not Graduate    113
dtype: int64

In [26]:
#gen sample Data set
import numpy as np
from random import sample
rindex = np.array(sample(range(len(df)), 3))
sample = df.iloc[rindex]
sample

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
43,LP001131,Male,Yes,0,Graduate,No,3941,2336.0,134.0,360.0,1.0,Semiurban,Y
431,LP002379,Male,No,0,Graduate,No,6500,0.0,105.0,360.0,0.0,Rural,N
218,LP001732,Male,Yes,2,Graduate,NaN,5000,0.0,72.0,360.0,0.0,Semiurban,N

In [28]:
#drop_duplicates
rem_dup=df.drop_duplicates(['Gender', 'Education'])
rem_dup

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
23,LP001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
50,LP001155,Female,Yes,0,Not Graduate,No,1928,1644.0,100.0,360.0,1.0,Semiurban,Y
126,LP001448,NaN,Yes,3+,Graduate,No,23803,0.0,370.0,360.0,1.0,Rural,Y

In [33]:
df.isnull()
df.isnull().any()

Loan_ID              False
Gender                True
Married               True
Dependents            True
Education            False
Self_Employed         True
ApplicantIncome      False
CoapplicantIncome    False
LoanAmount            True
Loan_Amount_Term      True
Credit_History        True
Property_Area        False
Loan_Status          False
dtype: bool

In [ ]:
#df.fillna(value,method='ffill|bfill' ,inplace=True|False)

In [8]:
#join two dataframes return new df, left_on:left side col, right_index:right side use index to join
#df1.merge(df2,how=['inner|left|right'],on=['cols'],left_on=[],right_on=[],right_index=True|False)

In [40]:
df[['A','C']]

KeyError: ('A', 'C')

In [ ]:
#normalize by devide by first row to compare diff dataset
df/df.ix[0,:]

In [ ]:
#bollinger_bands
rm=pd.rolling_mean(df['col'],window=20)
rstd=pd.rolling_std(df['col'],window=20)
rm+rstd*1.96,rm-rstd*1.96

In [ ]:
#daily return (p[t]/p[t-1])-1
#mean of daily return indicates totals trends
daily_returns=(df/df.shift(1))-1
#method 2
#daily_returns=df.copy()
#daily_returns[1:]=(df[1:]/df[:-1].values)-1
daily_returns.ix[0,:]=0

In [ ]:
#Cumulative Returns (p[t]/p[0])-1

In [ ]:
#sharp ratio ,evaluate return with risk
#risk free rate =(LIBOR,3month 债券利率,0,用年利率计算)
#k=sample frequency per year, daily=sqrt(年交易天数＝252), weekly=sqrt(52), monthly=sqrt(12)
sqrt(252)*mean(daily_return-daily_rfr)/std(daily_return-daily_rfr)